<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All groups</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Study Format</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student:${students}">
        <th scope="row" th:text="${student.id}"></th>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.studyFormat}"></td>


<!--           <td> <a th:href="@{/students/{id}/studentUpdate(id=${student.getId()})}">-->
<!--                <input type="submit"  style="height: 40px; width: 80px; background-color:red;"/>update</a>-->
<!--        </td>-->
        <td><a th:href="@{/students/{id}/studentUpdate(id=${student.getId()})}">
            <button style="height: 40px; width: 80px; background-color:blue;">update</button>
        </a>
        </td>

        <td><form th:method="DELETE" th:action="@{/students/{id}(id=${student.getId()})}">
            <input type="submit" value="delete" style="height: 40px; width: 80px; background-color:darkseagreen;"/></form></td>

    </tr>
    </tbody>
</table>
<input style=" display: block; margin:auto; font-size:30px;" type="button" value="Add Student"
       onclick="window.location.href = 'students/addStudent'">

</body>
</html>