<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpdateTeacher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="login-box">
    <h2>Update a teacher</h2>
    <form
          th:method="PATCH"
          th:action="@{/teachers/{id}(id=${updateTeacher.getId()})}"
          th:object="${updateTeacher}">

        <div class="user-box">
            <label>firstName</label>
            <input th:field="${updateTeacher.firstName}">
        </div>
        <div class="user-box">
            <label>lastName</label>
            <input th:field="${updateTeacher.lastName}">
            <div class="user-box">
                <label>email</label>
                <input th:field="${updateTeacher.email}">
            </div>

        </div>
        <button type="submit" value="Update">Update</button>
    </form>
    <div class="back-button">
        <a th:href="@{/teachers}">
            <button class="button">Go Back</button>
        </a>
    </div>
</div>
</body>
</html>