<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Duration Month</th>
        <th scope="col">Company</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course:${courses}">
        <th scope="row" th:text="${course.id}"></th>
        <td th:text="${course.courseName}"></td>
        <td th:text="${course.durationMonth}"></td>
        <td th:text="${course.getCompany().getCompanyName()}"></td>
        <td>
            <a th:href="@{/courses/{id}/updateCourse(id=${course.getId()})}">update</a>
        </td>
        <td><form th:method="DELETE" th:action="@{/courses/{id}(id=${course.getId()})}">
            <input type="submit" value="delete" style="height: 40px; width: 80px; background-color:#abd21e;"/></form></td>
    </tr>
    </tbody>
</table>
<input style=" display: block; margin:auto; font-size:30px;" type="button" value="Add Course"
       onclick="window.location.href = 'courses/addCourse'">

</table>

</body>
</html>